#message-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  background-color: $dark-grey;
  h3 {
    margin: 0;
    color: white;
  }
}

#messages {
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 16px;
  .message-heading {
    display: flex;
  }
  
  .user-name {
    font-weight: bold;
  }
  .message {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 8px;
  }
}

#message-input {
  display: flex;
  margin: 0;
  padding: 20px;
  width: 100%;
  background-color: $dark-grey;
  #submit {
    background-color: $light-green;
    font-size: 16px;
    margin: 0;
    border: none;
    padding: 8px 16px;
    width: 104px;
  }
  #input {
    width: 100%;
    font-size: 16px;
    padding: 4px;
  }
}
